.asidePanel {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.filtersTitle {
  font-size: var(--base-font-size);
  line-height: 1.5;
  color: var(--secondary-text-color);
}
@media (min-width: 576px) and (max-width: 768px) {
  .asidePanel {
    width: 100%;
    gap: 16px;
    align-items: start;
  }
}
