.logo {
  position: absolute;
  top: 50%;
  left: 64px;
  translate: 0 -50%;
}

.boxBar {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 24px;
  background-color: var(--gray-light-color);
}
.link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.link.active {
  color: var(--button-color);
}
