.btn {
  background-color: transparent;
  color: var(--secondary-text-color);
  border: 1px solid var(--gray-light-color);
  padding: 16px 18px;
  font-family: var(--button-font);
  font-size: var(--base-font-size);
  line-height: 1.5;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 12px;
  transition: border-color 250ms linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 112px;
  height: 96px;
}

.active {
  border-color: var(--button-color);
}
