.vehicleTypeBox {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.vehicleTypeBox::after {
  content: ' ';
  position: absolute;
  top: 50px;
  background-color: var(--gray-light-color);
  height: 1px;
  width: 100%;
}

.checkBox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .vehicleTypeBox {
    gap: 20px;
    width: 100%;
    font-size: var(--heading-font-size-up-768);
  }
  .vehicleTypeBox::after {
    top: 34px;
  }
  .checkBox {
    gap: 4px;
  }
}
