.locationInput__control {
  border: none;
  border-radius: 12px;
  background-color: brown;
  width: 400px;
}

.locationInput__menu {
  border-radius: 12px;
  background-color: white;
}

.locationInput__option--is-selected {
  background-color: darkred;
  color: white;
}

.locationInput__value-container {
  background-color: blue;
  color: red;
}
