.btn {
  position: relative;
  background-color: transparent;
  color: var(--secondary-text-color);
  border: 1px solid var(--gray-light-color);
  padding: 16px 18px;
  font-family: var(--button-font);
  font-size: var(--base-font-size);
  line-height: 0.9;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 12px;
  transition: border-color 250ms linear;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  width: 112px;
  height: 96px;
}
.btn::after {
  content: ' ';
  position: absolute;
  top: 10%;
  left: 30%;
  border-radius: 8px 20px;
  width: 40%;
  height: 50%;
  background: linear-gradient(
    135deg,
    #ffffff00,
    #1e2a7842,
    #ff4c4c41,
    #ffffff00
  );
  transition: opacity 0.5s ease-in-out;

  z-index: -1;
  overflow: hidden;
  opacity: 0;
}
.icon {
  width: 32px;
  height: 32px;
  fill: var(--secondary-text-color);
}
.active {
  border-color: var(--button-color);
  color: var(--button-color);
  fill: var(--button-color);
  font-weight: 450;
}
.active.btn::after {
  opacity: 1;
}

@media (min-width: 576px) and (max-width: 768px) {
  .btn {
    padding: 8px 10px;
    font-size: var(--base-font-size-up-768);
    line-height: 0.8;

    border-radius: 4px;
    gap: 4px;
    width: 88px;
    height: 70px;
  }
  .btn::after {
    border-radius: 4px 12px;
  }
  .icon {
    width: 24px;
  }
}
