.formBox {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--gray-light-color);
  padding: 44px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  padding: 0 14px;
}

.formField {
  display: block;
  border: none;
  border-radius: 12px;
  background-color: var(--inputs-color);
  padding: 18px;
  outline: none;
  color: var(--secondary-text-color);
  font-family: var(--body-font);
  font-size: var(--base-font-size);
  line-height: 1.5;
  margin: 0;
  width: 100%;
  resize: none;
}
.dateContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.errorField {
  background-color: var(--input-error);
}

@media (max-width: 768px) {
  .formBox {
    padding: 24px;
    text-align: center;
    gap: 16px;
  }
  .title h3 {
    color: var(--secondary-text-color);
    font-size: var(--heading-font-size-up-768);
  }
  .title p {
    font-size: var(--base-font-size-up-768);
  }
  .form {
    gap: 10px;
    width: 100%;
    padding: 0;
  }
  .formField {
    border-radius: 6px;
    padding: 14px;
    color: var(--secondary-text-color);
    font-size: var(--base-font-size-up-768);
  }
}
