.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 100px;
  overflow: hidden;
}

.feature {
  padding: 10px 18px;
  background-color: var(--gray-light-color);

  border-radius: 100px;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  font-size: var(--base-font-size);
  display: flex;
  gap: 8px;
  align-items: center;
}
@media (max-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 80px;
    max-width: 200px;
    width: calc(100% - 86px);
    overflow: hidden;
    margin: 0;
  }
  .feature {
    padding: 8px 12px;
    background-color: var(--gray-light-color);
    border-radius: 100px;
    text-transform: capitalize;
    color: var(--secondary-text-color);
    font-size: var(--base-font-size-up-768);
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .text {
    display: none;
  }
  .details {
    width: 100%;
    max-height: 180px;
  }
}
