:root {
  --main-text-color: #424242;
  --secondary-text-color: #5d5c5c;
  --grey-color: #6c717b;
  --button-color: #48cfcb;
  --button-hover-color: #229799;
  --rating-color: #ffc531;
  --gray-light-color: #dadde1;
  --badges-color: #f2f4f7;
  --inputs-color: #f5f5f5;
  --inputs-color-transparent: #f5f5f52d;
  --white-color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
