.vehEqBox {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.vehEqBox::after {
  content: ' ';
  position: absolute;
  top: 50px;
  background-color: var(--gray-light-color);
  height: 1px;
  width: 100%;
}

.envList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
